<div class="col-sm-12 col-xl-6">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Liste des Services
        </div>
        <div class="card-body">
            <ul  class="list-group">
                <li  *ngFor="let pole of poles; index as i" [attr.data-index]="i" class="list-group-item d-flex list-group-item-action justify-content-between align-items-center">
                    {{pole.nomService}}
                    <h3>
                        <span>
                            <i (click)="onUpdate(pole)" class="fa fa-edit" style="padding-right: 10px"></i>
                            <i (click)="onDelete(pole)" class="fa fa-trash"></i>
                        </span>
                    </h3>
                 </li>
            </ul>
        </div>
    </div>
</div>